<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAKbOp1inwH_ZZRZGKZ32XhTT40dFKBPxU</string>
	<key>GCM_SENDER_ID</key>
	<string>592731990135</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ecoalerta.recoleccion</string>
	<key>PROJECT_ID</key>
	<string>ecoalerta-recoleccion-ar</string>
	<key>STORAGE_BUCKET</key>
	<string>ecoalerta-recoleccion-ar.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:592731990135:ios:e1f1fdbd0106cf92b3fe72</string>
</dict>
</plist>